ejercicio 1/1.10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="albumesMortadelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="album" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="album">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="fecha" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
